# Variables for splunk installation/uninstallation

# Define Splunk home directory
# Splunk Universal Forwarder: /opt/splunkforwarder
# Splunk Heavy Forwarder: /opt/splunk
# Different then defails home paths can break some functionality. Use them at your risk.
SPLUNK_HOME="/opt/splunkforwarder"

# Architecture of Splunk tarball
# Currently only those are supported
# UF: x86_64, aarch64
# HF: x86_64
SPLUNK_ARCH="x86_64"

# Instance type
# UF: splunkforwarder
# HF: splunk
INSTANCE_TYPE="splunkforwarder"

# Heavy Forwarder type
# CORE/TYPED/VA/AIP
HFTYPE="AIP"

# Set install method
# This is to differentiate manuall installer from some automation like Tanium / Intigua / puppet
# It can be any meaningful string to specify installation method used
# Please change this to somethig more specific if you're customizing installer
INSTALL_METHOD="manual"

# User used to run splunkd as
SPLUNK_STANDARD_USER="splunk"
